.abt-2{
    width: 100vw;
    height: 42vh;
    background-color: aqua;
    background-image: url(./abt2-bg.jpg);
    background-size: cover;
    object-fit: cover;

}
.abt2-subcon{
    width: 15vw;
    height: 35vh;
    color: white;
    
    float: left;
    margin-left: 8vw;
    margin-top: 3.5vh;
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    
}
.a2-bg{
    width: 100vw;
    height: 40vh;
}
.customer{
    width:7vw;
    height: 13vh;
    margin-top: 1vh;
    margin-left: 1.2vw;
}
@media screen and (max-width:600px){
   .abt-2{
    background-image: url('./About.png');
    background-color: #007dba;
    height: 30vh;
   }
   .abt2-subcon h1{

    font-size: 15px;
   }
   .abt2-subcon img{
    height: 6vh;
   }
}