.jobs-mp{
    width: 100vw;
    height: auto;
    background-color: white;
}
.first-con{
    width: 100vw;
    height: 20vh;
    background-color: #EFEFEF;
}
.jobs-subpage{
    width: 100vw;
    height: 220vh;
    background-color: rgb(252, 249, 249); 
    padding-top: 4vh;
    padding-left: 4vh; 
      
}
.jobs-subcon{
    width: 20vw;
    height: 65vh;
    background-color: rgb(124, 125, 126);
    float: left;
    margin-left: 8vw;
    margin-top: 4vh;
    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.img-subcon{
    width: 20vw;
    height: 30vh;
    background-color: white;

}
.product-pic{
    width: 20vw;
    height: 30vh;

}
.content-subcon{
    width: 20vw;
    height: 28vh;
    background-color: #EDEDED;
}
.bid-area{
    width: 20vw;
    height: 7vh;
    background-color: #00ACFF;
    
}
.select-box{
    border: 0px solid white;
   background-color: 
   #A0A0A0;
    
}
#selection-box{
    width: 20vw;
    height: 8vh;
    border: 0px solid white;
    background-color: 
    #A0A0A0;
    margin-left: 9vw;
    margin-top: 8vh;
    float: left;
}
.selection-box{
    width: 20vw;
    height: 8vh;
    
    margin-left: 9vw;
    margin-top: 8vh;
    float: left;

}
.rs-bidarea{
    margin: 2vh 0 0 5vw;
    width: 40vw;
    height: 10vh;
}
.goto-but{
    width: 7vw;
    height: 5vh;
    background-color: #00ACFF;
    color: white;
    border-radius: 10px;
    margin: 1vh 0 1vh 18vw
}
.post-head{
    background-color: #00ACFF;
    color: white;
    padding: 2vh 2vw;
    height: 13vh;
}
.posts-area{
    width: 100vw;
    height: auto;
}
.postsInJobPage{
    float: left;
}
.post-avatar{
    width: 5vw;
    height: 10vh;
    
    border: none;
    border-radius: 50%;
    float: left;
}
.post-avatar img{
    width: 10vw;
    height: 9vh;
    margin: 0;
}
.post-head h1{
    margin: 0 0 0 6vw;
}
.post-description h1{
    font-size: 25px;

}
.post-description{
    border-bottom: 1px solid grey;
}.post-image{
    
    border-bottom: 1px solid grey;
}