.user-mp{
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
   
}
.ump-main-sec{
    width: 100vw;
    height:auto;
    background: linear-gradient(to bottom, lightgrey 40%, white 100%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding-top: 12vh;
}
.ump-sub-sec1{
    width: 25vw;
    height: 70vh;
    margin-left: 10vw;
    background-color: lightgray;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    float: left;
}
.ump-sub-sec2{
    width: 50vw;
    height: 20vh;
    margin-left: 40vw;
    background-color: #00ACFF;
    color: white;
    font-size: 1.2vw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.ump-sub-sec2 img {
    float: left;
}
.ump-sub-sec2 p{
    float: left;
}
.user-email-name{
    width: 15vw;
    height: 14vh;
    margin: -1vh 0 0 5vw;
  
    text-align: center;
}
.w_logo{
    margin: 3vw 0 0 2vw;
    width: 12vw;

}
.ump-sub-sec3{
    width: 25vw;
    height: 80vh;
    margin-left: -25vw;
    margin-top: 55vh;
    float: left;
    background-color: lightgray;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.ump-sub-sec4{
    width: 50vw;
    height: 8vh;
    margin-left: 40vw;
    margin-top: 5vh;
    font-size: 1vw;
    background-color: lightgray;
    
    
    border: none;
    border-bottom: 4px solid darkgrey;
}
.ump-sub-sec5{
    width: 50vw;
    height: auto;
    padding: 3vw;
    color: black;
    font-size: 1.1vw;
    margin-left: 40vw;
    margin-top: 1vh;
    background-color: lightgray;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.ump-sub-sec5 p{
    font-size: 15px;
}
.posts{
    width: 50vw;
    height: auto;
    background-color: lightgray;
    margin: 3vh 0 0 40vw;
}
.posts h1{
    font-size: 25px;
    margin:  2vh 0 0 1vw;
    text-align: center;
}

.post-description{
    width: 50vw;
    height: auto;
    background-color: white;
    padding:1vh 1vw;
    font-size: 13px;
}
.post-image{
    width: 50vw;
    height: 50vh;
    background-color: white;
}
.post-bid{
    width: 50vw;
    height: auto;
}
.posts h4{
    font-weight: 600;
    font-size: 18px;
    
}
.ump-sub-sec6{
    width: 50vw;
    height: 40vh;
    margin-left: 40vw;
    margin-top: 3vh;
    background-color: lightgray;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.rew{
    width: 42vw;
    height: 10vh;
    background-color: rgb(227, 223, 223);
    margin-top: 1.5vh;
    margin-left: 3vw;


}
.RR-box{
    width: 22vw;
    height: 8vh;
    background-color: #FFFAFA;
    margin-top: 1vw;
    margin-left: 1vw;
    

}
.Rs-box{
    width: 22vw;
    height: 8vh;
    background-color: rgb(247, 242, 242);
    margin-top: 1vw;
    margin-left: 1vw;

}
.dividing-line{
    height: 0.3vh;
    width: 35vw;
    background-color: darkgray;
    margin-left: 10vw;
    /* margin-top: 30vh; */
}
.user-bid{
    width: 49.9vw;
    height: 8vh;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}


