.jp_main{
    width: 100vw;
    background-color: #EFEFEF;
    height: auto;
    
}
.jp-form-area{
    width: 60vw;
    height: 140vh;
    margin-left: 20vw;
    background-color: white;
    margin-top: 5vh;
    padding: 4vw;
    border: 1 px solid #7C7C7C;
    
}
.jp-form-area-head{
    padding: 2vh;
    font-size: 30px;
    color: #7C7C7C;
    border-bottom: 1px solid #7C7C7C;

}
.post-button{
     background-color: #00ACFF;
     color: white;
     border-radius: 10px;
     width: 7vw;
     height: 4vh;

}