.abt{
    width: 100vw;
    height: 130vh;
    background-color: #efefef;
   
}
.abt-pic{
    width: 35vw;
    margin-top: 5vh;
    height: 91vh;
    float: left;
    background-image: url(./ServiceMan.png);
    object-fit: cover;
    background-size: cover;
    
}
.abt-cont{
    width: 65vw;
    height: 99vh;
    margin-left: 35vw;
    text-align: left;
   
    padding: 3vw;
}
.abt-main-con{
    width: 60vw;
    height: 63vh;
}
.abt-sub-con{
    width: 29vw;
    height: 30vh;
    
    float: left;
    margin-bottom: 1vh;
    margin-right: 1vh;
    
    
}
.sub-icon{
    height: 30vh;
    width: 10vw;
   
    float: left;
}
.sub-con{
    height: 30vh;
    width:30vw;
    color: #898989;
    
}
.icon-img{
    width: 6vw ;
    height: 12vh;
    margin-top: 7vh;
    margin-left: 2vw;
}
.first-para{
    font-size: 15px;
}
.abt-cont h4{
    font-size: 1.4vw;
}
.sub-con h3{
    font-size: 30px;
}
.sub-con p{
    font-size: 15px;
}

@media screen and (max-width:600px){
    .abt{
        height: 70vh;
    }
    .abt-pic{
        display: none;
    }
    .abt-cont{
        margin: 0 0 0 8vw;
        width: 500px;
    }
    .abt-cont h4{
        font-size: 2.4vw;
        margin-bottom: 5vh;
    }
    .icon-img{
        height: 6vh;
    }
    .sub-con h3{
        font-size: 15px;
        
    }
    .sub-con p{
        width: 15px;
    }
    .abt-main-con{
        display: none;
    }
}

