.foot{
    width: 100vw;
    height: 50vh;
    background-color: #00acff;
    margin: 0;
    padding: 0;
    padding-top: 5vh;
}
.foot-cont{
    width: 80vw;
    height: 40vh;
    color: white;
    padding-top: 2.5vh;
    margin-left: 10vw;
    

}
.b-foot{
    width: 30vw;
    height: 35vh;
    
    margin-left: 2.5vw;
    float: left;
    padding-right: 5vw;
    
}
.s-foot{
    width: 12.5vw;
    height: 35vh;
    margin-left: 2.5vw;
    
    float: left;

}