.foot{
    width: 100vw;
    height: 60vh;
    background-color: #00acff;
    margin: 0;
    padding: 0;
    padding-top: 5vh;
}
.foot-cont{
    width: 80vw;
    height: 40vh;
    color: white;
    padding-top: 2.5vh;
    margin-left: 10vw;
}
.b-foot{
    width: 30vw;
    height: 35vh; 
    margin-left: 2.5vw;
    float: left;
    padding-right: 5vw; 
}
.s-foot{
    width: 12.5vw;
    height: 35vh;
    margin-left: 2.5vw;
    float: left;
}
.s-foot h2{
    font-size: 1.2vh;
}
@media screen and (max-width:600px){
    .foot{
        height: 70vh;
    }
    p{
        font-size: 11px;
    }
    .s-foot h2{
        margin: -5vh 0 0 0;
        font-size: 15px;
    }
    .s-foot p{
        font-size: 10px;
    }
}