.pro{
    width: 100vw;
    height: 40vh;
    background-color: white;
    color: #00acff;
    text-align: center;
}
.main-pcon{
    width: 86vw;
    height: 30vh;
    margin-left: 7vw;
    margin-top: 2vh;
    
}
.sub-pcon{
    width: 19vw;
    height: 27vh;
    margin-left: 2vw;
    float: left;
    margin-top: 3vh;
    text-align: left;
}
.sub-pcon h1{
    font-size: 1.7vw;
}
.sub-pcon p{
    font-size: 1.1vw;
}
@media screen and (max-width:600px){
    .sub-pcon h1{
        font-size: 15px;
    }
    .sub-pcon p{
        font-size: 10px;
    }
}