.ump-nav{
    width: 100vw;
    height: 11vh;
   
}
.ump-nav-list3{
    width: 100vw;
    height: 11vh;
    
    margin-left: 0vw;
    padding: 0;
}
.logo{
    float: left;
    margin-top: 1.3vh;
    margin-left: 4vw;
    
    
}
.logo,img{
    width: 16vw;
    height: 7vh;
    margin-bottom: 2vh;
    z-index: 3; 
}
.ump-nav-list3 li{
    cursor: pointer;
}
.px-4{
    margin: -2vh 0 0 6vw;
    background-color: none;
    color: grey;
    font-size: 22px;
    text-decoration: none;

}